/*
#password2{
		padding-right: 30px;
		}
				
.toggle-password{
	position: relative;
	top: 55px;
	right: -235px;
	cursor: pointer;
	background-image: url('../images/eye_icon.png');
	background-size: cover;
	width: 20px;
	height: 20px;
}

.toggle-password.active{
	background-image: url('..images/eye_icon.png');
}
*/