{% extends 'base.html' %}


{% block content %}

	<main class="container py-5">
		<section class="card card-body">
		<h1 class="display-1 text-center">To-Do</h1>
		<p>¡Organize your tasks efficiently with our to-do list app! Keep clear track of your daily activities, reminders and goals. Whether you need to manage personal tasks or team projects, our app gives you all the tools you need "Simplify your life and achieve your goals more efficiently with our to-do list app. Start planning and being more productive today!"</p>
		<p>¡Organiza tus tareas de manera eficiente con nuestra aplicación de lista de tareas! Mantén un seguimiento claro de tus actividades diarias, recordatorios y metas. Ya sea que necesites administrar tareas personales o proyectos de equipo, nuestra app te brinda todas las herramientas que necesitas. Simplifica tu vida y alcanza tus objetivos de manera más eficiente con nuestra aplicación de lista de tareas. ¡Comienza a planificar y ser más productivo hoy mismo!</p>

		<div class="text-center">
			<a class="btn btn-secondary" href="/signin/">
				Login
			</a>
	
			<a class="btn btn-dark" href="/signup/">
				SIGN-UP
			</a>
		</div>

	</section>
	</main>
	
{% endblock %}
